.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 280px;
    width: 100%;
    height: 44px;
    border-radius: 34px;
    background: #FFFFFF;
    border: 1px solid #C8C8C8;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    position: relative;

    &__icon {
        display: none;
        position: absolute;
        left: 30px;
        top: 26px;
        width: 10px;
        height: 15px;
        cursor: pointer;

        @include media(950px) {
            display: block;
        }
    }

    &__input {
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
        font-weight: 300;
        font-size: 14px;
        color: #5E5E5E;
        padding-left: 22px;

        @include placeholder {
            transition: 0.8s ease;
        }

        &:focus {
            @include placeholder {
                transform: translateY(-14px);
                font-size: 10px;
            }
        }
    }

    &__button {
        min-width: 32px;
        width: 32px;
        height: 32px;
        margin: 6px 6px 6px 15px;
        padding: 0;
        border: none;
        outline: none;
        background: #FF7D5A;
        border-radius: 100px;
        cursor: pointer;
        position: relative;
        transition: width 0.8s ease;

        &:hover {
            width: 60%;
            margin: 6px 6px 6px 6px;
        }

        &::after {
            content: '';
            width: 12px;
            height: 12px;
            margin: auto;
            position: absolute;
            right: 30%;
            top: 50%;
            transform: translateY(-50%);
            transition: all 0.8s ease;
            display: inline-block;
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.75 0C2.12665 0 0 2.12665 0 4.75C0 7.37335 2.12665 9.5 4.75 9.5C5.79763 9.5 6.76604 9.16085 7.55143 8.58635C7.58054 8.63231 7.61514 8.6758 7.65522 8.71588L10.0435 11.1041C10.3363 11.397 10.8112 11.397 11.1041 11.1041C11.397 10.8112 11.397 10.3363 11.1041 10.0434L8.71588 7.65522C8.6758 7.61514 8.63231 7.58054 8.58635 7.55143C9.16085 6.76604 9.5 5.79763 9.5 4.75C9.5 2.12665 7.37335 0 4.75 0ZM1.5 4.75C1.5 2.95507 2.95507 1.5 4.75 1.5C6.54493 1.5 8 2.95507 8 4.75C8 6.54493 6.54493 8 4.75 8C2.95507 8 1.5 6.54493 1.5 4.75Z' fill='white'/%3E%3C/svg%3E%0A");
        }

        &:hover::after {
            right: 20%;
        }

        &::before {
            content: 'Найти';
            color: #FFFFFF;
            font-size: 14px;
            position: absolute;
            right: 40%;
            top: 50%;
            transition: all 0.6s ease;
            transform: translateY(-50%);
            opacity: 0;
        }

        &:hover::before {
            opacity: 1;
        }
    }
}